@model TP033095.Ship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.shipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shipMaxLoad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shipMaxLoad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fleet.fleetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fleet.fleetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shipId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
