@model IEnumerable<TP033095.Shipment>

@{
    ViewBag.Title = "Shipments";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shipmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipmentInsuredValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipmentWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipmentDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shipmentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yard.yardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.shipName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shipmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipmentInsuredValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipmentWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipmentDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipmentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yard.yardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.customerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.shipName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.shipmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.shipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.shipmentId })
        </td>
    </tr>
}

</table>
