@model TP033095.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.departureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship.shipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship.shipName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.scheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
