
@{
    ViewBag.Title = "Agent";
}

<h2>Agent</h2>

@Html.ActionLink("New Shipment", "Create", "Shipments", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Customer", "Create", "Customers", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("View Shipping Schedule", "Index", "Schedules", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Yard", "Create", "Yards", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Ship", "Create", "Ships", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Schedule", "Create", "Schedules", null, new { @class = "btn btn-primary btn-lg" })
@Html.ActionLink("New Fleet", "Create", "Fleets", null, new { @class = "btn btn-primary btn-lg" })
