@model IEnumerable<TP033095.Yard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.yardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yardPort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.yardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yardPort)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.yardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.yardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.yardId })
        </td>
    </tr>
}

</table>
